{% extends "layout.html" %}

{% block content %}

<div class="py-32 relative overflow-x-auto sm:rounded-lg">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg ">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <caption class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
            
                    <a href="#" class="text-white 
                    bg-gradient-to-r 
                    hover:bg-gradient-to-br focus:ring-4 focus:outline-none 
                    focus:ring-red-300 font-medium rounded-lg 
                    text-sm px-5 py-2.5 text-center me-2 mb-2">
                        Nuevo
                    </a>
                
            </caption>
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Nombre
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Apellido
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Correo
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Editar
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Detalles
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Eliminar
                    </th>
                </tr>
            </thead>
            <tbody>
                {%for alum in alumno%}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{alum.nombre}}
                    </th>
                    <td class="px-6 py-4">
                        {{alum.apaterno}}
                    </td>
                    <td class="px-6 py-4">
                        {{alum.email}}
                    </td>
                    <td class="px-6 py-4">
                        <a href="modificar=id={{alum.id}}" class="text-white bg-gradient-to-r from-cyan-400 
                        via-cyan-500 to-cyan-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none 
                        focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 
                        py-2.5 text-center me-2 mb-2">
                            Editar
                        </a>
                    </td>
                    <td class="px-6 py-4">
                        <a href="detalles?id={{alum.id}}" class="text-white bg-gradient-to-r 
                        from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br 
                        focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800
                         font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                            Detalles
                        </a>
                    </td>
                    <td class="px-6 py-4">
                        <a href="eliminar=id={{alum.id}}" class="text-white 
                        bg-gradient-to-r from-red-400 via-red-500 to-red-600 
                        hover:bg-gradient-to-br focus:ring-4 focus:outline-none 
                        focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg 
                        text-sm px-5 py-2.5 text-center me-2 mb-2">
                            Eliminar
                        </a>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>


{%endblock%}